body {
  padding: 50px;
  font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}
a {
  color: #00B7FF;
}
.title{
  color:blue;
}
/* 拖动球 */
.back_bar {
  display:block;
  width:32px;
  height:32px;
  background: url(/images/btn-back.png);
  -webkit-background-size: cover;
  background-size:cover;
  position: fixed;
  top:5%;
  left:5%;
  z-index:1001;
}